*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
       background-color: black;
}
.container{
    text-align: center;
    position: relative;
}
.box{
    height: 100px;
    width: 100px;
    background-color: rgba(255, 51, 0, 0.964);
    animation-name: moving;
    animation-duration: 3s;
    border-radius: 50%;

    /* animation-iteration-count: 3; */
     animation-iteration-count: infinite; 

   /* animation-timing-function: ease-in;
    animation-timing-function: ease-out; */
    animation-timing-function: ease-in-out;
    /* animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */

    /* animation-direction: alternate; */
    /* animation-delay: 2s; */

    /* animation-fill-mode: forwards; */
    /* animation-fill-mode: backwards; */

    position: absolute;
}

/* @keyframes moving {
    from{
            background-color: orange;
            top: 10px;
            left: 10px;
    }
    to{
            background-color: blue;
            top: 10px;
            left: 500px;
    }
    
} */
                        /*moves in all direction*/
@keyframes moving {
    0%{
            background-color: orange;
            top: 10px;
            left: 10px;
    }
    25%{
            background-color: blue;
            top: 10px;
            left: 200px;
    }
    50%{
            background-color: rgb(0, 255, 42);
            top: 200px;
            left: 200px;
    }
    75%{
            background-color: rgb(253, 6, 220);
            top: 200px;
            left: 10px;
    }
    100%{
            background-color: rgb(220, 253, 6);
            top: 10px;
            left: 10px;
    }

    
}