*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.container{
    background-color: rgba(61, 59, 59, 0.132);
    border: 1px solid rgb(48, 47, 47);
    font-size: 40px;
    color: white;
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    white-space: nowrap; /*REMOVE THIS N CHECK*/
    overflow: hidden;  /* REMOVE THIS N CHECK */
}

p{
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes moving {
    from{
        margin-left: 100%;
    }
    to{
        margin-left: 0%;
          /* margin-left: -10%; */
        /* margin-left: -70%; */
    }
    
}
        /* from → starting position (100%)
           to → ending position (0%) */