#h11{
    background-color: #457aa3;
    position: static;
}

h1{
    background-color: #d3fa37;
    position: relative;
    left: 100px;
    top: 90px;
}
h3{
    background-color: #f17c7c;
    position: fixed; /*WHEN SCROLLING THIS IS ALWAYS FIXED*/
    top: 0px;  /*to keep the element at top i.e HEADING */
    left: 320px;
    
}

h2{
    background-color: #1bb63a;
    position: sticky;
    top: 70px;
    left: 100px;
}
h4{
    background-color: #bc651a;
    position: absolute;
    left: 40px;
    margin: 0px;
    z-index: 100px;

}