*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 200px;
    width: 200px;
    background-color: aqua;
    /* box-shadow: 10px 10px blue;  */
                                 /*offset(x) offset(y)*/
    /* box-shadow: 10px -10px purple;      */
     /* box-shadow: -20px -20px 5px purple;    */
                                    /*3--> BLUR RADIUS*/   
     /* box-shadow: 0px 0px 0px 10px purple;      */
                                    /*4--> SPREAD RADIUS*/   
     box-shadow: inset 10px 10px purple;  
                                    /*inset*/                                                                       
}