*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 800px;
    width: 800px;
    font-size: 80px;
    background-color: aqua;

}

/* @media screen and (max-width:600px) {
    .container{
        height: 500px;
        width: 500px;
        background-color: pink;
        font-size: 100px;
        color: red;
    } 
}

@media screen and (min-width: 800px){
    .container{
        height: 500px;
        width: 500px;
        background-color: blueviolet;
        font-size: 50px;
        color: beige;
    }
    
} */
            /* mobile first approach */
@media screen and (min-width:600px) {
    .container{
        height: 500px;
        width: 500px;
        background-color: pink;
        font-size: 100px;
        color: red;
    } 
}

@media screen and (min-width: 800px){
    .container{
        height: 500px;
        width: 500px;
        background-color: blueviolet;
        font-size: 50px;
        color: beige;
    }
    
}