*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 200px;
    width: 200px;
    background-color: aqua;
    /* overflow: hidden; */
    overflow: scroll;
    /* overflow: auto; */
}