

/* get this from googel font 
--> get font
--> get embedded code
--> copy any one html or css code
--> paste css change the weight */


p{
    font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
div {
    font-family: "Bitcount Prop Single Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}

h6{
     font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

