#container{
    background-color: white;
    height: 200px;
    width: 400px;
    position: relative;
}
#circle{
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 150px;
    top: 50px;
}