*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    height: 400px;
    width: 400px;
    background-color: white;
     grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(8,1fr);
}
.odd{
    background-color: brown;
}
.even{
    background-color: beige;
}