*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.container{
    display: flex;
    background-color: #fff;
    padding: 5px;
    gap: 5px;
}
.box{
    height: 200px;
    width: 150px;
}
.first{
    background-color: aqua;
}
.second{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.child{
    height: 120px;
    background-color: blueviolet;
    /* margin: 5px; */
}