*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
}
body{
    background-color: black;
}
.container{
    display: grid;
    /* grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px; */
                                        /*overflow*/
    grid-template-rows: 1fr 1fr;  
    grid-template-columns: 1fr 1fr;                                  
                           /*portion distribution*/         
    gap: 10px;
    /* padding: 10px; */
    height: 400px;
    width: 400px;
    background-color: #eff54e;
    
}
.first{
    background-color: rgb(214, 140, 43);
}
.second{
    background-color: #4ae71b;
}
.third{
    background-color: #ef2f2f;
}
.fourth{
    background-color: #2248f1;
}