*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(164, 122, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /*body height was not mentioned 
                    so by defualt it was taking cheild item height*/

}
.box{
    height: 400px;
    width: 400px;
    background-color: white;
    padding: 10px;

}

h1{
    /* background-color: aqua; */
    color: rgb(46, 49, 240);
    text-align: center;
}
label{
    font-size: 25px;
    font-weight: 60;
    margin-bottom: 5px;
}
input{
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
}
button{
    width: 100%; 
    height: 40px;
    font-size: 20px;
    margin-top: 30px;
    background-color: #50a3cf;
    color: antiquewhite;
    font-weight: 60;
    cursor: pointer;
    border-color: black;
    border-style: groove;
    border-width: 5px;
}
